#loginCenter {
text-align: center;
}
#loginCenter img{
  margin-bottom: 5%;
}

input.remeberme{
  margin-left: -210px;
  width: 25px;

}


#creatSub{
  margin-top: 10%;
}
.listTitle{
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 15px;
}
.listdiv{
  margin-top: -5px;
}
#list{
  padding-bottom: 15px;
}

/*...^(up)..code I added... */



.jumbotron {

width: 40rem;

min-height: 450px;
/* top: 0; */
/* bottom: 0; */
left: 0;
right: 0;
position: absolute;
margin: 4rem auto;
background-color: rgba(255, 102, 74, .5);
padding: 2rem;

}

.container .glyphicon-list-alt {
  font-size: 10rem;
  margin-top: 3rem;
  color: #f96145;
}


h2 {
  margin-bottom: 3rem;
  font-weight: bold;
  color: #ababab;
}


.list-group-item:first-child, .list-group-item:last-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  overflow: hidden;
}
.list-group-item {
  border-left: 0px solid rgb(221, 221, 221);
  border-right: 0px solid rgb(221, 221, 221);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.3);
}
.list-group-item > .show-menu {
  position: absolute;
  height: 100%; width:24px;
  top: 0px; right: 0px;
  
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.list-group-item > .show-menu > span {
  position: absolute;
  top: 50%;
  margin-top: -7px;

}
.list-group-submenu {
  position: absolute;
  top: 0px;
  right: -88px;
  white-space: nowrap;
  list-style: none;
  padding-left: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.list-group-submenu .list-group-submenu-item {
  float: right;
  white-space: nowrap;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: rgb(51, 51, 51);
  color: rgb(235, 235, 235);
}

.list-group-item.open > .show-menu {
  right: 88px;
}
.list-group-item.open .list-group-submenu{
  right: 0px;
}

.list-group-submenu .list-group-submenu-item.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
}

.list-group-submenu .list-group-submenu-item.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
}
#Heading{
  color: black;
}
.vryImp{
  color: #d2322d;
}
.medImp{
  color: #f0ad4e;
}
.notImp{
  color: #5cb85c;
}



/* mel---*/
#highLev a:hover{
  background: rgba(242,103,78,1.00);
    }
#midLev a:hover{
  background: #ffc800;
    }
#lowLev a:hover{
  background: #47a447;
    }
#blurBack{
 background:rgba(202, 202, 202, 0.5);
 -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding-bottom: 5%;
margin-top: 2%;
}

/* Global Styles */

html,
body {
    background: url(../img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: rgba(160, 160, 160, 1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: rgba(255, 255, 255, 0.76);
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
}


/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
  
  .header {
  background: url(../img/bg.jpg) no-repeat center center scroll;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  }

  .callout {
  background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

  .map {
  height: 75%;
  }

}
/*************** Icon Style ***************/
.fa.fa{
  color: rgba(255,255,255,1.00);
  
  }
h3, h2{
  color: rgba(255, 255, 255, 1);
}
#formBoxes{ 
  background-color: rgba(239,237,237,1.00);
  margin-left:10px;
  border:thin;
  border-radius:10px;
}
#listItem{
  background-color: rgba(239,237,237,1.00);
  height:40px;
  padding-top:10px;
  border-radius:5px;background-color:white;
  
}
.itemRight{
  float:right;
  
}
#completeItem{
  margin-top:90px;
  }

#side-login{
  float:right;
  opacity: .8;
  margin-top:15px;  
}

footer{
	position:absolute;
	width:100%;
	color: rgba(255, 102, 74, .5);
}
.fa.fa{
	
}
p.footer {
	font-size:12px;
	
}